<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- Waypoints, robot id and the following options live in the config file. -->
  <arg name="config" default="$(find-pkg-share robot_mission_planner)/config/gps_follower.yaml" />

  <node pkg="robot_mission_planner" exec="gps_follower_ros2" name="gps_follower_ros2" namespace="">
      <param from="$(var config)" />
  </node>
</launch>
