<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- Mission signal: map road_follower events to audio via config file -->
  <arg name="config" default="$(find-pkg-share robot_mission_planner)/config/mission_signal.yaml" />

  <node pkg="robot_mission_planner" exec="mission_signal" name="mission_signal" output="screen">
    <param from="$(var config)" />
  </node>
</launch>
