<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <node pkg="robot_mission_planner" exec="road_follower" name="road_follower" namespace="">
      <param name="road_points_topic" value="/road_points" />  <!--Topic publishing PoseArray of road points-->
      <param name="distance_threshold" value="2.0" />          <!--Distance (m) to goal at which a new goal is requested-->
  </node>
</launch>
